<%= form_tag "/applications" do %>
<% if @application.errors.any? %>
    <div id="error_explanation">
      <h2>There Were Some Errors:</h2>
      <ul>
        <% @application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Fill Out a New Application</h2>
  <%= label_tag :name %>
  <%= text_field_tag :name %><br>
  <%= label_tag :street_address %>
  <%= text_field_tag :street_address %><br>
  <%= label_tag :city %>
  <%= text_field_tag :city %><br>
  <%= label_tag :state %>
  <%= text_field_tag :state %><br>
  <%= label_tag :zip %>
  <%= text_field_tag :zip%><br>
  <%= submit_tag 'Submit' %>
<% end %>